@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="text-center mb-6">
    Budget <img src="~/Images/icon-cut-cost.png" class="h-6" alt=""> Destroyer
</div>
<div class="card-body p-6">
    <div class="card-title">Please check your email to reset your password.</div>
</div>
<div class="form-footer">
    <button id="loginBtn" class="btn btn-primary btn-block">Back to Login</button>
</div>

@section Scripts {
<script>
    $("#loginBtn").click(function () {
        location.href="@Url.Action("Login", "Account")";
    });
</script>
}