@using Microsoft.AspNet.Identity

@{ 
    Layout = null;
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="dropdown-icon fe fe-log-out"></i> Sign Out</a>
    }
}
