.btnSpace {
    margin: 0px 10px;
}

.table-responsive {
    margin-top: 15px;
}

.table th
{
    font-weight: bold;
    text-align: center;
}

#budgetChart
{
    width: 100%;
    height: 340px;
}

#budgetItemChart {
    width: 100%;
    height: 340px;
}

.height-400 {
    max-height: 400px;
}